<div [@routerTransition]>
    <app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-md-12">
            <div class="card mb-3">
                <div class="card-header">
                   Employees:
                </div>
                <div class="card-block table-responsive">
                   <p-dataTable [value]="employees" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelect($event)" scrollable="true" resizableColumns="true" columnResizeMode="expand" [rows]="30" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
                        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
                   <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
                   </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Employee Details" [contentStyle]="{'overflow':'scroll-y'}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="500">
    
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="employee">
        <div class="ui-grid-row" *ngIf="displayImageBox">
            <div class="ui-grid-col-6 imageContainer"><img [src]="employee.image" alt="" width="150" height="150"></div>
            <div class="ui-grid-col-6"><p-fileUpload mode="basic" chooseLabel="Choose" styleClass="upload-pic-btn" name="image" url="http://localhost:8080/api/v1/upload" method="PUT" accept="image/*" maxFileSize="10000000" (onUpload)="onBasicUpload($event)" (onBeforeUpload)="onBeforeBasicUpload($event)">
                <div id="dropZone">Drop files here</div>
            </p-fileUpload>
            </div>
           
        </div>
         <hr>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="empId">Emp Id</label></div>
            <div class="ui-grid-col-8"><input pInputText id="empId" [(ngModel)]="employee.empId" disabled="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="year">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" [(ngModel)]="employee.name" [required]="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="surname">Surname</label></div>
            <div class="ui-grid-col-8"><input pInputText id="surname" [(ngModel)]="employee.surname" [required]="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="gender">Gender</label></div>
            <div class="ui-grid-col-8"><p-dropdown [options]="genderOptions" id="gender" [(ngModel)]="employee.gender" [filter]="false" [required]="true"></p-dropdown></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="dob">DOB</label></div>
            <div class="ui-grid-col-8"><p-calendar  id="dob" dataType="string" [(ngModel)]="employee.dob" dateFormat="yy-mm-dd"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="doj">DOJ</label></div>
            <div class="ui-grid-col-8"><p-calendar  id="doj" dataType="string" [(ngModel)]="employee.doj" dateFormat="yy-mm-dd"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="age">Age</label></div>
            <div class="ui-grid-col-8"><input pInputText id="age" [(ngModel)]="employee.age" disabled="true"/></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="mobile">Mobile</label></div>
            <div class="ui-grid-col-8"><input pInputText id="mobile" [(ngModel)]="employee.mobile" [required]="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="address">Address</label></div>
            <div class="ui-grid-col-8"><input pInputText id="address" [(ngModel)]="employee.address" [required]="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="bgroup">Bgroup</label></div>
            <div class="ui-grid-col-8"><input pInputText id="bgroup" [(ngModel)]="employee.bgroup" [required]="true" /></div>
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="image">Image</label></div>
            <div class="ui-grid-col-8"><input pInputText id="image" [(ngModel)]="employee.image" /></div>
        </div>-->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="designation">Designation</label></div>
            <div class="ui-grid-col-8"><input pInputText id="designation" [(ngModel)]="employee.designation" [required]="true" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="exp">Experience</label></div>
            <div class="ui-grid-col-8"><p-spinner size="30" id="exp" [(ngModel)]="employee.exp" [min]="0" [max]="60"></p-spinner></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="pan">PAN</label></div>
            <div class="ui-grid-col-8"><input pInputText id="pan" [(ngModel)]="employee.pan_no" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="status">Status</label></div>
            <div class="ui-grid-col-8"><p-dropdown [options]="statusOptions" id="status" [(ngModel)]="employee.status" [filter]="false" [required]="true"></p-dropdown></div>
        </div>

    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>