/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";


.ui-dialog-content{
    height: 600px;
}

.imageContainer{
    border-right: 1px solid #A9A9A9;
}
    
/*

.upload-pic-btn.ui-fileupload-choose{
    height: 150px;
    background: #999;
    padding: 15px;
    border: 1px solid #333;
    background: rgba(0,0,0,0.1);
}
.upload-pic-btn.ui-button-icon-left{
    font-size: 32px;
    left: 46%;
}*/
.bannerImg {
    background: #3F444E;
    text-align: center;
}
.bannerImg img {
    max-width: 100%;
}

.dashboardWrap .card-header{
    background-color: #3F444E;
    color: #fff;
}
.dashboardTitle h3{
    color:#4EA94B;
}
a,a:hover, a:visited{
    color:#4EA94B;
    text-decoration: none;
}