<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>
    <div class="row">
    
        <div class="col-xl-12 text-xs-center">
            <h3>Project Introduction</h3><br>
            <p>This is a Single Page Web Application(SPA) that consumes an ExpressJS REST API that runs on the Node Server. We did all CURD operations using that REST API. Here we use a MongoDB - NoSQL database to store our records. Optionally we can also use an MSSQL DB too. For the authentication part we've used two steps API authentication with OAuth and for the website, we use Firebase(For Learning). We've used AWS S3 Bucket to store our images. For the admin section, we use Angular UI and a Free Admin Theme.</p>

            <p>This is a very simple curd application on the node but our endeavor was to cover most of the wings that we at least need to start a production level development. So let's start the DEMO.</p>
        </div>
        
        
    </div>
    <hr>
    <div class="row">
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-header card-default">
                    <i class="fa fa-cogs" aria-hidden="true"></i> Used Technologies
                </div>
                <div class="card-block">
                  <ul class="list-group">
                    <li class="list-group-item">NODE JS</li>
                    <li class="list-group-item">Angular 2.0</li>
                    <li class="list-group-item">ExpressJs</li>
                    <li class="list-group-item">MongoDB</li>
                    <li class="list-group-item">Firebase</li>
                    <li class="list-group-item">Amazon Web Service</li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-header card-default">
                    <i class="fa fa-link" aria-hidden="true"></i> References
                </div>
                <div class="card-block">
                  <ul class="list-group">
                    <li class="list-group-item"><a href="#" target="_blank">Link1</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Link2</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Link3</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Link4</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Link5</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Link6</a></li>
                  </ul>
                </div>
            </div>
            
        </div>
        <div class="col-xl-4 text-xs-center">
            <div class="card mb-3">
                <div class="card-header card-default">
                    <i class="fa fa-users" aria-hidden="true"></i> Team Members
                </div>
                <div class="card-block">
                  <ul class="list-group">
                    <li class="list-group-item">Subhomita Mazumder</li>
                    <li class="list-group-item">Anupam Halder</li>
                    <li class="list-group-item">Subhasish Bose</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">...</li>
                  </ul>
                </div>
            </div>
            
        </div>


    </div>